input[type=text] {
  border-radius: 2px;
  margin: 2px;
}

.content {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.mat-accordion {
  flex-basis: 0;
  justify-content: space-between;
  text-align: left;
  align-items: center;

  .description {
    margin-bottom: 15px;

    h6 {
      padding: 10px 0 0;
    }
  }

  .mat-description {
    display: block;
    width: 100px;

  }

  .mat-expansion-panel {
    margin-bottom: 5px;
  }

  button {
    margin-left: 10px;
  }

}
