<div class="content">
  <form>
    <mat-form-field class="col-6">
      <mat-label>Nazwa zadania</mat-label>
      <input matInput placeholder="np. zrób pranie" [(ngModel)]="title" name="title">
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>Opis Zadania</mat-label>
      <textarea matInput placeholder="np. pamiętaj by odwirować pranie" [(ngModel)]="description"
        name="description"></textarea>
    </mat-form-field>
    <br>
    <button class="btn btn-primary" (click)="addTodo()">Dodaj zadanie</button>
  </form>
  <br>
  <h3>Do zrobienia</h3>

  <mat-accordion>
    <div *ngFor="let record of this.tasks">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{record.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="description">
          <h6>Opis</h6>
          <p>
            {{record.description}}
          </p>

          <h6>
            Sekcje edycji
          </h6>

          <div>
            <form>
              <mat-form-field class="col-6">
                <mat-label>Nowa nazwa zadania:</mat-label>
                <input matInput placeholder="np. zrób pranie" [(ngModel)]="this.newTitle" name="newTitle">
              </mat-form-field>
              <mat-form-field class="col-6">
                <mat-label>Nowy opis zadania:</mat-label>
                <textarea matInput placeholder="np. pamiętaj by odwirować pranie" [(ngModel)]="this.newDescription"
                  name="newDescription"></textarea>
              </mat-form-field>
            </form>
          </div>
        </div>

        <div class="row align-items-center">
          <button mat-stroked-button color="primary"
            (click)="edit(record.id, record.title, record.description,  this.newTitle, this.newDescription)">Edytuj</button>
          <button mat-raised-button color="primary" (click)="done(record.id)">Wykonane</button>
          <button mat-raised-button color="warn" (click)="remove('todos', record.id)">Usuń</button>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>

  <br>
  <h3>Wykonane</h3>
  <mat-accordion>
    <div *ngFor="let record of this.doneTasks">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{record.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h6>
          Opis
        </h6>
        <div class="description">
          {{record.description}}
        </div>
        <button mat-raised-button color="warn" (click)="remove('doneTodos', record.id)">Usuń</button>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
